<app-header></app-header>
<!-- <div class="container"> d-flex justify-content-center-->
  <div  >
    <img src="../../assets/uploads/im3.jpg" alt="" >
</div>
<!-- <div class="container "> -->
<br>
<div class="card text-center shadow">
  <div class="alert alert-danger text-center" *ngIf="errorMsg">
      {{errorMsg}}
  </div>
  <div class="alert alert-success text-center" *ngIf="successMsg">
      {{successMsg}}
  </div>
  <div class="container d-flex" >
<div class=" col-lg-3  ">
  </div>
  <div class=" col-lg-6  ">

  
    <form #userForms="ngForm" class="form-brd"  method="POST" (ngSubmit)="signup()"   >
      <h3 class="text-center">Create a new account</h3>
      <br>
      <div class="mb-3">
        <input type="text"  class="form-control" id="name" name="name" placeholder=" Username" required [(ngModel)]="userdata.name" 
        #username="ngModel" [class.is-invalid]="username.invalid && username.touched"></div>
        <!-- <small class="text-danger" [class.d-none]="username.valid || username.untouched">Enter valid name</small> -->

              <div *ngIf="username.errors && (username.invalid || username.touched)">
                <small class="text-danger" *ngIf="username.errors.required" [class.d-none]="username.valid || username.untouched">Username cannot be empty</small>
             </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="email" name="email" placeholder="email" required [(ngModel)]="userdata.email" 
          #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+)\.([a-z]{2,3})(.[a-z]{2,3})?$">
        </div>
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter valid mail Id</small> -->

        <div *ngIf="email.errors && (email.invalid || email.touched)">
          <small class="text-danger" *ngIf="email.errors.required" [class.d-none]="email.valid || email.untouched">Email cannot be empty</small>
          <small class="text-danger" *ngIf="email.errors.pattern" [class.d-none]="email.valid || email.untouched">Invalid email pattern</small>
       </div>      
      <div class="mb-3">
        <input type="password"  id="password" class="form-control " name="password" placeholder=" Password" required  [(ngModel)]="userdata.password"  aria-describedby="passwordHelpBlock"
        #password="ngModel" [class.is-invalid]="password.invalid && password.touched" pattern="(?=.*\d)(?=.*\W)(?=.*[a-z])(?=.*[A-Z]).{8,}$">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password must contain atleast 1 capital letter,1 small letter,1 digit and 1 special character and require minimum 8 characters </small>
      </div>
      <div *ngIf="password.errors && (password.invalid || password.touched)">
        <small class="text-danger" *ngIf="password.errors.required" [class.d-none]="password.valid || password.untouched">Password cannot be empty</small>
        <small class="text-danger" *ngIf="password.errors.pattern" [class.d-none]="password.valid || password.untouched">Password must be minimum 8 characters</small>
     </div>
      
      
      <div class=" d-grid gap2">
        <button [disabled]="userForms.form.invalid" class="btn btn-colr ">Create Account</button>

       
      </div><br>
      
    </form>
  </div>
 
</div>
<!-- </div> -->