

    
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="assets/uploads/user.png" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Welcome {{username}}</span>
                            <p>Have a nice day</p>
                        </div>
                       
                </div></div>



